nav {
    display: flex;
    margin: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.nav-right > * {
    margin: 0.5rem;
}

a.nav-link {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    transition: 0.5s ease;
}
a.nav-link:hover {
    opacity: 0.5;
    transition: 0.5s ease;
    text-shadow: 0px 5px 20px #880000;
}
