h1 {
    color: #800000;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin: 4rem 20vw;
}

@media (max-width: 1200px) {
    #links-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 800px) {
    #links-container {
        grid-template-columns: 1fr;
    }
}
