@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", sans-serif;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }
}
